*{
    margin: 0;
    padding: 0;
    font-family:Arial, Helvetica, sans-serif;
}




/*Header*/
.header{

width: 100%;

}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 90px;
    border-radius: 50%;
    outline-style: double;
}

.nav-links{
 flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;

}

.nav-links ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;
      
}

.nav-links ul li::after{
content:'';
width: 0%;  
height: 5px;
background-color: rgb(32, 31, 31);
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/*HYRJA*/
.hyrja
{
    width:100%;
    height: 40vh;
}
.hyrja div{
    display: inline-block;
}


.hyrja .h1
{
    float: left;
   text-align: left;
   padding-left: 50px;
   padding-top: 10px;
   width: 46%;
}
.hyrja .h1 h1{
    padding-top: 50px;
    font-size: 80px;
    
}
.hyrja .h2
{
    float: right;
   text-align: left;
   padding-top: 100px;
   padding-left: 50px;
   width: 46%;
}
.hyrja .h2 p{
    font-size: 20px;
}

/*MAKE A WEB FASTER*/
.fast-web{
    width: 100%;
    height: 145vh;
    background-color: #31302c;
}

.fast-web h1{
    color: white;
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
}

.fast-web h4{
    color: white;
    text-align: center;
 
}

.fast-web img{
    padding-left: 310px;
    padding-top: 20px;
}

/*DESIGN OPTIONS*/
.design
{
    width: 100%;
    height: 100vh;
    
}
.design h1{
    
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.design h4{
    text-align: center;
    font-size: 25px;
}
.design img{
    padding-left: 310px;
    padding-top: 20px;
}

.design
{
    width: 100%;
    height: 110vh;
    
}
.design h1{
    
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.design h4{
    text-align: center;
    font-size: 25px;
}
.design img{
    padding-left: 310px;
    padding-top: 20px;
}


/*DESIGN OPTIONS*/
.layout
{
    width: 100%;
    height: 110vh;
    background-color: #8e82a0;
    color: white;
}
.layout h1{
    
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.layout h4{
    text-align: center;
    font-size: 25px;
}
.layout img{
    padding-left: 310px;
    padding-top: 20px;
}

.layout
{
    width: 100%;
    height: 98vh;
    
}
.layout h1{
    
    text-align: center;
    font-size: 60px;
    padding-top: 20px;
    padding-bottom: 50px;
}
.layout h4{
    text-align: center;
    font-size: 25px;
}
.layout img{
    padding-left: 310px;
    padding-top: 20px;
}

/*Idete*/

.idete {
    text-align: center;
    height: 140vh;
    width: 100%;
    position: fixed;
}
.idete div{
    display: inline-block;
}

.idete .idete2, .idete .idete1 {
    width:48%;
    height: 55vh;
    padding-top:50px ;
}
.idete .idete2 h1,.idete .idete2 h4, .idete .idete1 h1,.idete .idete1 h4{
    padding-top: 30px;
  
}

/*KOMENTET*/

.komente {
    background-color: #47494c;
    width: 100%;
    height: 80vh;
    color: white;
  
}
.komente .k1 h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
/* .komente div{
    display: inline-block;
} */
.komente .k1{
   
    /* width:48%;
    padding-top:50px ;
    margin-top: 100px; */
    width: 50%;
  height: 100%;
  float: left;
   
    
}
.komente .k2 {
    /* width:48%;
    height: 60vh;
    padding-left:48px ;
    padding-top:80px ; */

    width: 50%;
    height: 100%;
    float: left;
 
}

.k2 img
{
    height: 350px;
    width: 100px;
margin-top: 100px;
margin-left: 50px;
}
.k1 ul
{
    margin-top: 150px;
    position: absolute;
    transform: translateX(50%);
   
}
.k1 button
{
    background-color: gray;
    color: white;
}
#hellobtn
{
    margin-top: 500px;
    margin-left:35%;
    width: 200px;
    
}
#hellobtn2
{
  margin-top:20px ;
  margin-left:35%;
    width: 200px;
}

/*GRID*/
.boxi{
    height: 100hx;
    border: #31302c aolid 2 px;
    width: 300px;
    box-shadow: 2px 2px 30px rgba(0,0,0,0.2);
    border-radius: 10px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    top: 750%;
    transform: translate(-50%,-50%);
}
.slide-img{
    height:450px;
}
.slide-img img{
    width: 100%;
    height: 100%;
    object-fit:cover;

}
/*Footer*/
.footer{
    padding-top: 70px;
    background-color: black;
    height: 100vh;
}
.footer table{
    width: 70%;
    height: 70vh;
    font-size: 20px;
    background-color: black;
    color: white;
    margin:0px 100px 100px 200px;
    
   
}

.footer table th{
    text-align: left;
    
}
.footer table a{
    text-decoration:none ;
    color: white;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.footer table td:hover{
    color: grey;
    background-color: rgba(128, 128, 128, 0.211);

}
.footer th,  td{
    border-collapse: collapse;
    border-bottom: 0.5px solid rgb(62, 60, 60);
}
.section
{
    padding-left: 30%;
}
.fa {
    padding: 20px;
    font-size: 100px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px 100px;
    border-radius: 50%;
  }
  
.fa:hover {
    opacity: 0.7;
}

.fa-facebook ,.fa-twitter,.fa-google,.fa-linkedin,.fa-youtube,.fa-instagram,.fa-pinterest{
  background: rgba(0, 0, 0, 0.095);
  color: white;
  width: 30px;
}
/*Footer*/
.footer{
    padding-top: 70px;
    background-color: black;
    height: 100vh;
}
.footer table{
    width: 70%;
    height: 70vh;
    font-size: 20px;
    background-color: black;
    color: white;
    margin:0px 100px 100px 200px;
    
   
}

.footer table th{
    text-align: left;
    
}
.footer table a{
    text-decoration:none ;
    color: white;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.footer table td:hover{
    color: grey;
    background-color: rgba(128, 128, 128, 0.211);

}
.footer th,  td{
    border-collapse: collapse;
    border-bottom: 0.5px solid rgb(62, 60, 60);
}
.section
{
padding-left: 30%;
}
.fa {
padding: 20px;
font-size: 100px;
width: 30px;
text-align: center;
text-decoration: none;
margin: 5px 5px 100px;
border-radius: 50%;
}

.fa:hover {
opacity: 0.7;
}

.fa-facebook ,.fa-twitter,.fa-google,.fa-linkedin,.fa-youtube,.fa-instagram,.fa-pinterest{
background: rgba(0, 0, 0, 0.095);
color: white;
width: 30px;
}



#wraper{
    width: 100%;
    height: 270px;
    background-color: gray;

}
#wraper button
{
    margin-left:600px;
    width: 200px;
    margin-top: 10px;
    
    padding: 5px;
    background-color: grey;


}

