

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 90px;
    border-radius: 50%;
    outline-style: double;
    transition:transform 2s;
  
}
nav img:hover{
   transform: rotateX(240deg);
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;
}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 19px;
}

.nav-links ul li::after{
content:'';
width: 0%;  
height: 5px;
background-color: rgb(32, 31, 31);
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

/*texti ne header*/
.text-box{
    width: 30%;
    position:absolute;
    top: 50%;
    left: 15%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.text-box h1{
    font-size: 50px;
    color: white;
}


.text-box h1 abbr{
    text-decoration: none;
}



/*PRODUKTI*/

.Product
{
    width: 100%;
    height: 50vh;
   background-color: gray;
    padding: 0%;
    display: flex;
    animation-name: keyy;
    animation-duration: 10s;
    animation-iteration-count: infinite;


}


@keyframes keyy {
    0%{background-color: gray;}
    15%{background-color: rgb(74, 72, 72);}
   30%{background-color: rgb(35, 35, 35);}
   45%{background-color: black;}
   60%{background-color: rgb(35, 35, 35);}
   75%{background-color: rgb(74, 72, 72);}
   100%{background-color: gray;}
}

.Product div
{
margin:0%;
   width: 24%;
   top: 50%;
   left: 20%;
   text-align: center;
}
.pro
{
    margin:30px;

}
.pro img {
padding-bottom: 20px;
    padding-top: 30px;
    padding-left: 60px;
    max-width: 300px;
    display: block;
}

.pro a{
    color: aliceblue;
    text-decoration: none;
    font-size: 13px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    line-height:25px;
}
.pro a:hover{
  color: black;

}
.pro h3
{
    color: aliceblue;
    font-size:20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}


.guide
{
    background-image: linear-gradient(to bottom left, grey, black);
    width: 100%;
    height: 110vh;
   
}
.guide div{
    display: inline-block;
}

.topics
{
    width:57%;
    
}
.guide h1
{
  font-size: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
   margin-left: 35px;
 padding-top: 20px;}

.con1 h3{
    padding-bottom: 20px;
}
.con1
{
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 30px;
    padding: 15px;
  background-color: white;
    width: 20%;
    display: inline-block;
}
.con1 a{
    text-decoration: none;
    color: black;
}
.con1 a:hover
{
    color:rgb(190, 98, 170);
   
}

.videos
{

    width: 38%;
    border-left:2px solid rgb(114, 111, 111);
   
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 33px;
    padding-bottom: 20px;
    padding-top: 15px;
    margin-left:80px ;
}

.videos video
{
    margin-left: 50px;
    width: 175px;
    padding-bottom: 60px;

}
.videos ul
{
    list-style: none;
}
.videos a {
    text-decoration: none;
}

.videos h4{
    float: right;

    margin-right: 50px;
    margin-top: 60px;
    color: black;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
} 

#inn
{
    height: 250px;
    padding-top: 30px;

}

#inn h1
{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 15px;
    margin-left:80px ;
    
}

#info{
margin-left: 50px;
width: 90%;
resize: both;
overflow: auto;
outline: 5px dashed black;
  outline-offset: 5px;
}

#ph
{
    height: 80px;
    background-color: gray;
    
    padding:10px;
    padding-bottom: 5px;

}

#draganddrop
{
    height: 250px;
    background-color: gray;
    padding-top: 15px;
    display: flex;

}

#dr1
{
    margin-left:300px;
}
#dr1,#dr2
{
    border: black dotted 3px;
    margin-bottom: 10px;
    margin-right: 15px;
    width: 350px;
    height: 90%;


}

#draganddrop img
{
    margin-top:15px;
     margin-left: 30px;
    border-radius: 5%;
}








/*Footer*/
.footer{
    padding-top: 70px;
    background-color: black;
    height: 100vh;
}
.footer table{
    width: 70%;
    height: 70vh;
    font-size: 20px;
    background-color: black;
    color: white;
    margin:0px 100px 100px 200px;
    
   
}

.footer table th{
    text-align: left;
    
}
.footer table a{
    text-decoration:none ;
    color: white;
    font-size: 13px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.footer table td:hover{
    color: grey;
    background-color: rgba(128, 128, 128, 0.211);

}
.footer th,  td{
    border-collapse: collapse;
    border-bottom: 0.5px solid rgb(62, 60, 60);
}
.section
{
    padding-left: 30%;
}
.fa {
    padding: 20px;
    font-size: 100px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 5px 100px;
    border-radius: 50%;
  }
  
.fa:hover {
    opacity: 0.7;
}

.fa-facebook ,.fa-twitter,.fa-google,.fa-linkedin,.fa-youtube,.fa-instagram,.fa-pinterest{
  background: rgba(0, 0, 0, 0.095);
  color: white;
  width: 30px;
}

