*{
    margin: 0;
    padding: 0;
}
.header{
min-height: 100vh;
width: 100%;
background-image:url(Foto/back.jpg);
background-position: center;
background-size: cover;
position: relative;
}

nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 90px;
    border-radius: 50%;

}

.nav-links{
 flex: 1;
    text-align: right;

}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 15px;
    position: relative;

}

.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
      
}

.nav-links ul li::after{
content:' ';
width: 0%;
height: 5px;
background-color: rgb(196, 115, 94);
display: block;
margin: auto;
transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}


.text-box{
    width: 90%;
    color: white;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;

}

.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin:10px 0 40px;
    font-size: 14px;
    color: white;
}

.atextb{
    display: inline-block;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position:relative;
    cursor: pointer;

}
.atextb:hover{
    border: 1px solid brown;
    background: brown;
    transition:1s;
}

/*------Section2-----*/
.tam
{
width: 100%;
margin: auto;
text-align: center;
padding-top: 50px;
background: rgb(150, 117, 117);

}
.tam h1{
    font-size:36px;
    font-weight:600;
}
.row
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.tam-col
{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
    margin: 20px;

}

.tam-col img {
   
    width:100%;
    display: block;
}

.emri
{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 2s;
}

.emri:hover{
    background: rgb(182, 117, 117)

}

.emri h3 
{
    width: 100%;
    font-weight:500;
    color: white;
    font-size: 26px;
    bottom: 0%;
    left:50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition:1s;

} 

.emri:hover h3{
    bottom: 50%;
    opacity: 1;

}








